<footer class="footer-wrapper" id="footer-id">
    <section class="module_grid module_wide">
        <section class="module_row">
            <section class="module_col">
                <div class="footer-logo">
                    <a href="/">
                    <img src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" width="50%" alt="logo-f8">
                    </a>
                    <p>F8 là nơi học lập trình miễn phí.</p>
                    <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
                    <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
                    <br>
                    <p>© 2019 MyCV JSC. All rights reserved.</p>
                </div>
            </section>
            <section class="module_col">
                 <div class="footer-logo">
                    <h6>F8</h6>
                    <ul>
                        <li>
                            <a href="/about-us">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="/faq">Câu hỏi thường gặp</a>
                        </li>
                        <li>
                            <a href="/contact">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="module_col">
                <h6>Sản phẩm</h6>
                    <ul>
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="https://url.mycv.vn?ref=f8_footer&amp;to=mycv">MyCV.vn</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://url.mycv.vn?ref=f8_footer&amp;to=f8">Fullstack.edu.vn</a>
                        </li>
                    </ul>
            </section>
            <section class="module_col">
                <h6>Hỗ trợ</h6>
                    <ul>
                        <li>
                            <a href="/support">Hỗ trợ</a>
                        </li>
                        <li>
                            <a href="/feedback">Đóng góp</a>
                        </li>
                    </ul>
            </section>
            <section class="module_col">
                <h6>Theo dõi chúng tôi</h6>
                <p>Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ F8</p>
                <input type="text" placeholder="Email của bạn..." value="">
                <button class="footer-subscribeBtn">Đăng ký</button>
            </section>
        </section>
    </section>
</footer>