<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/assets/css/app.css" />
    <link rel="stylesheet" href="../../public/assets/css/main.css" />
    <title>Đăng nhập F8</title>
</head>

<body>
    <noscript>Trình duyệt cần hỗ trợ Javascript để truy cập website này.</noscript>
    <div id="app">
        <section class="Auth_contentWrapper">
            <section class="Auth_content">
                <a href="/">
                    <header class="Auth_header">
                        <span class="Auth_logo">Fullstack.edu.vn</span>
                    </header>
                </a>
                <section class="Auth_boxContainer">
                    <section class="Auth_boxHelper">
                        <section class="Auth_box">
                            <h1 class="Auth_heading">Thành viên đăng nhập</h1>
                            <p class="Auth_subHeading">
                                <span class="">F8 là cộng đồng học lập trình thực tế miễn phí. Đăng nhập
                                    để cùng nhau học tập, đóng góp và chia sẻ kiến thức
                                    <span style="
                                    width: 1em;
                                    height: 1em;
                                    margin: 0px 0.05em 0px 0.1em;
                                    vertical-align: -0.1em;">❤️
                                    </span>
                                </span>
                            </p>
                            <ul class="Auth_loginWrapper">
                                <li>
                                    <button class="Auth_btn Auth_btnGoogle">
                                        <span>Đăng nhập với Google</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="Auth_btn Auth_btnFacebook">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path fill="#3b5998"
                                                d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h8.61v-6.97h-2.34V11.3h2.34v-2c0-2.33 1.42-3.6 3.5-3.6 1 0 1.84.08 2.1.12v2.43h-1.44c-1.13 0-1.35.53-1.35 1.32v1.73h2.69l-.35 2.72h-2.34V21h4.59a1 1 0 0 0 .99-1V4a1 1 0 0 0-1-1z">
                                            </path>
                                        </svg>
                                        <span>Đăng nhập với Facebook</span>
                                    </button>
                                </li>
                                <p class="Auth_snsHelp">
                                    Mẹo: Đăng nhập nhanh hơn với Google hoặc Facebook!
                                </p>
                                <li class="Auth_orSeparator__2GInx">
                                    <span>Hoặc</span>
                                </li>
                                <li class="Auth_form__19AG3">
                                    <div class="TextInput_container__28rbk" data-qa="mycv-email">
                                        <label class="Label_label__225N7">Email</label>
                                        <div class="Input_inputWrap__Wdik5">
                                            <input placeholder="VD: nguyenvana@f8.edu.vn" type="text" name="email"
                                                class="Input_input__1er4x Input_m__Tf8eM Input_invalid__3aY5_"
                                                value="" />
                                            <span class="Input_errorIcon__3sCmL Input_iconContainer__18FVS">
                                                <svg class="Input_icon__3bJ0I" width="16" height="16"
                                                    viewBox="0 0 16 16">
                                                    <path d="M0 0h16v16H0V0z" fill="none"></path>
                                                    <path
                                                        d="M15.2 13.1L8.6 1.6c-.2-.4-.9-.4-1.2 0L.8 13.1c-.1.2-.1.5 0 .7.1.2.3.3.6.3h13.3c.2 0 .5-.1.6-.3.1-.2.1-.5-.1-.7zM8.7 12H7.3v-1.3h1.3V12zm0-2.7H7.3v-4h1.3v4z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </span>
                                            <button tabindex="-1" type="button" class="Input_hidden__29KSa">
                                                <svg class="Input_icon__3bJ0I" width="16" height="16"
                                                    viewBox="0 0 16 16">
                                                    <path fill="currentColor"
                                                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.243 10.285a.5.5 0 0 1-.708.707L7.999 8.457l-2.536 2.535a.498.498 0 0 1-.708 0 .5.5 0 0 1 0-.707L7.291 7.75 4.755 5.215a.5.5 0 0 1 .707-.707l2.536 2.535 2.536-2.535a.5.5 0 0 1 .707.707L8.705 7.75l2.536 2.535z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="FormField_errorMessage__kAxf1" data-qa="mycv-email-error-message">
                                            Vui lòng nhập email
                                        </div>
                                    </div>
                                    <div class="TextInput_container__28rbk" data-qa="mycv-password">
                                        <label class="Label_label__225N7">Mật khẩu</label>
                                        <div class="Input_inputWrap__Wdik5">
                                            <input placeholder="Nhập mật khẩu" name="password" required=""
                                                type="password"
                                                class="Input_input__1er4x Input_m__Tf8eM Input_invalid__3aY5_"
                                                value="" />
                                            <span class="Input_initIcon__1Ox0f Input_iconContainer__18FVS">
                                                <button
                                                    class="ranks_text__2bIgp base_button__2lUAu sizes_m__2r5ZD tooltip_tooltip__3C3sd base_noPadding__21Jf_"
                                                    type="button">
                                                    <div class="base_inner__2sovl sizes_inner__2bASC">
                                                        <span class="base_text__2_jzo">
                                                            <svg class="PasswordField_iconButton__1LFBr" width="16"
                                                                height="16" viewBox="0 0 16 16">
                                                                <path fill="currentColor"
                                                                    d="M6.629 12.957c.346.056.692.112 1.067.112h.517c3.579 0 5.812-2.426 7.181-4.251a1.128 1.128 0 0 0 0-1.357 12.035 12.035 0 0 0-1.662-1.784L11.25 8.222l.002.019c0 1.866-1.476 3.379-3.297 3.379l-.018-.003-1.308 1.339zm3.619-7.138l-1.17 1.199a1.613 1.613 0 0 0-1.124-.466c-.909 0-1.649.758-1.649 1.69 0 .447.178.849.456 1.151l-1.17 1.199a3.405 3.405 0 0 1-.935-2.35c0-1.866 1.476-3.379 3.297-3.379.893 0 1.701.367 2.294.957zm5.231-3.995c.184-.188.184-.494 0-.683s-.482-.188-.666 0l-3.056 3.132a7.743 7.743 0 0 0-3.543-.859h-.517c-2.804 0-5.219 1.324-7.181 3.938a1.098 1.098 0 0 0 0 1.372c.115.154.246.316.373.476v.007h.005c.81 1.019 1.874 2.121 3.229 2.891l-2.027 2.078a.492.492 0 0 0 0 .683.462.462 0 0 0 .667 0l2.269-2.325.011.004 1.323-1.355-.011-.005 1.282-1.313a.05.05 0 0 1 .012.002l1.895-1.942-.003-.013 1.281-1.313.005.011 1.789-1.834-.008-.007 2.874-2.946z">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </button>
                                            </span>
                                            <button tabindex="-1" type="button" class="Input_hidden__29KSa">
                                                <svg class="Input_icon__3bJ0I" width="16" height="16"
                                                    viewBox="0 0 16 16">
                                                    <path fill="currentColor"
                                                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.243 10.285a.5.5 0 0 1-.708.707L7.999 8.457l-2.536 2.535a.498.498 0 0 1-.708 0 .5.5 0 0 1 0-.707L7.291 7.75 4.755 5.215a.5.5 0 0 1 .707-.707l2.536 2.535 2.536-2.535a.5.5 0 0 1 .707.707L8.705 7.75l2.536 2.535z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="FormField_errorMessage__kAxf1"
                                            data-qa="mycv-password-error-message">
                                            Vui lòng nhập mật khẩu
                                        </div>
                                    </div>
                                    <section class="Auth_globalFormErrors__1EilX"></section>
                                    <button class="Auth_btn Auth_btnSubmit__yZkNY" data-qa="submit">
                                        Đăng nhập
                                    </button>
                                    <section class="Auth_resetWrapper">
                                        <a class="Auth_resetLink" href="/reset-password">Quên mật khẩu?</a>
                                    </section>
                                </li>
                            </ul>
                        </section>
                        <section class="Auth_disclaimer">
                            <p>
                                Bạn chưa có tài khoản?<br />
                                <a href="/register">Đăng ký trải nghiệm miễn phí ngay!</a>
                            </p>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </div>
    <script src="../scripts/validator.js"></script>
</body>

</html>