<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <title>Đăng ký thành viên F8</title>
</head>

<body>
    <div class="Auth_content Auth_registerPage">

    </div>
    <section class="Auth_boxContainer">
        <section class="Auth_boxHelper">
            <div class="main Auth_box">
                <form action="" method="post" class="form" id="form-1">
                    <h1 class="Auth_heading">Đăng ký thành viên</h1>
                    <p class="Auth_subHeading">
                        <span class>F8 là cộng đồng học lập trình thực tế miễn phí. Đăng nhập để cùng nhau học tập, đóng
                            góp và chia sẻ kiến thức ❤️</span>
                    </p>
                    <div class="spacer"></div>
                    <ul class="Auth_loginWrapper">
                        <li><button class=""><span>Đăng ký với
                                    Google</span></button></li>
                        <li><button class=""><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" viewBox="0 0 24 24">
                                </svg><span>Đăng ký với Facebook</span></button></li>
                        <p class="Auth_snsHelp">Mẹo: Đăng ký nhanh hơn với Google hoặc Facebook!</p>
                        <li class="Auth_orSeparator"><span>Hoặc</span></li>
                        <li class="Auth_form">
                            <div class="form-group">
                                <label for="fullname" class="form-label">Tên đầy đủ</label>
                                <input id="fullname" name="fullname" type="text" placeholder="Vd: tấn đập troai">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="email" class="form-label">Email</label>
                                <input id="email" name="email" type="text" placeholder="Vd: tandz@gmail.com">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="password" class="form-label">Mật khẩu</label>
                                <input id="password" name="password" type="text" placeholder="Nhập mật khẩu">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="password_confirmation" class="form-label">Nhập lại mật khẩu</label>
                                <input id="password_confirmation" name="password_confirmation" type="password"
                                    placeholder="Nhập mật khẩu">
                                <span class="form-message"></span>
                            </div>
                        </li>
                        <button class="form-submit">Đăng ký</button>
                </form>
            </div>
            <p class="Auth_agreeTermsText">Bằng cách đăng ký, bạn đồng ý với các <a href="/dieu-khoan-su-dung">điều
                    khoản sử dụng</a> của chúng tôi</p>
            <div class="Auth_disclaimer">
                <p>Bạn đã có tài khoản?<a href="/login"> Đăng nhập</a></p>
            </div>
        </section>
    </section>


    <script src="../scripts/validator.js"></script>
</body>


</html>